<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
  Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
  
  var stripeResponseHandler = function(status, response) {
    var $form = $('#membership-form');
    if (response.error) {
      // Show the errors on the form
      // $form.find('#error_explanation').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };
  
  jQuery(function($) {
    $.fn.toggleInputError = function(erred) {
      $('button').prop('disabled', false);
      this.parent('.form-group').toggleClass('has-error', erred);
      return this;
    };
    
    $('#membership-form').submit(function(e) {
      e.preventDefault();
      
      var $form = $(this);
      
      $form.find('button').prop('disabled', true);
      
      if($("input:checked[name=payment-method]").val() == 'credit-card') {
        Stripe.card.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
        }, stripeResponseHandler);
      } else {
        Stripe.bankAccount.createToken({
          routing_number: $('.routing-number').val(),
          account_number: $('.account-number').val(),
          account_holder_name: $('.account-holder-name').val(),
          account_holder_type: 'Individual',
          country: 'US'
        }, function(status, response) {
          stripeResponseHandler(status, response);
        });
      };
      
      return false;
    });
  });

</script>

<div style='display: flex; flex-direction: column; align-items: center;'>

  <h2>Please select a ZenFit membership plan.</h2>
  
  <%= form_tag memberships_path, id: 'membership-form' do %>      
    <article id='payment-plans' style='display: flex; flex-direction: column; align-items: center;'>
      <h3>Upfront Memberships</h3>
      <% @upfront_plans.each do |plan| %>
        <div class='upfront-payment-plan'>
          <input type='radio' name='plan' value=<%= plan.id %>><%= plan.name %></input>
        </div>
      <% end %>
      <h3>Monthly Memberships</h3>
      <% @monthly_plans.each do |plan| %>
        <div class='monthly-payment-plan'>
          <input type='radio' name='plan' value=<%= plan.id %>><%= plan.name %></input>
        </div>
      <% end %>
    </article>
    <br />
    
    <article style='display: flex; flex-direction: row;'>
      <div id='cc-fields' style='padding-right: 10px; border: 1px solid gray;'>
        <label>Pay with Credit Card</label>
        <input type='radio' name='payment-method' value='credit-card' checked/>
        <%= render partial: 'credit_card_fields' %>
      </div>
      
      <div id='ba-fields' style='padding-left: 10px; border: 1px solid gray;'>
        <label>Pay with Bank Account</label>
        <input type='radio' name='payment-method' value='bank-account' />
        <%= render partial: 'bank_account_fields' %>
      </div>
    </article>
    <br />
    
    <div style='display: flex; justify-content: center'>
      <button type="submit" class="submit">Save Membership</button>
    </div>
            
  <% end %>
</div>